@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');


body {
  font-family: 'Slabo 27px', serif;
  background-color: rgba(207, 207, 207, 1);
}


h1 {
  text-align: center;
  font-size: 130%;
  width: 50%;
  margin: auto;
}


input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.alert{
  display: none;
}
.alert.show{
  display: block;
}
.output{
  display: none;
  border: 1px solid white;
}
.output.show{
  display: block;
}

.proimg{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 2% 0;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;

}
